flask==3.0.3
flask-pymongo==2.3.0
flask-bcrypt==1.0.1
flask-jwt-extended==4.6.0
flask-cors==4.0.0
pymongo==4.7.1
python-dotenv==1.0.1
transformers==4.41.2
Pillow>=10.3.0
werkzeug==3.0.3
requests==2.32.3
dnspython==2.6.1